pct(n)
  (n * 100) + "%"

use("_plugins/verse.js")
@import "verse"


// The font size is set based on Medium's use
// of 21px Charter font for the body and
// a line-height ratio of 1.58.
// Since we use integer line-heights to
// achieve better rhythm (always specified
// in rem units, so effectively we have
// a vertical rule in multiples of the
// rem unit), we have to set the rem unit
// precisely. A line-height of 5rem
// with a vertical spacing of 36.71%
// gives us a font-size of 21 pixels
// at a rem unit of 6.636 pixels...
// All this is based on the Charter font
// so DO NOT CHANGE THE BLOG BODY FONT
// or if we do, we should probably change
// these values as well.

html
  font-size 6.636px

  // on anything smaller than an iPhone 5
  // just shrink everything down a bit
  @media screen and (max-width: 320px)
    font-size 6px

body

  flow row top left wrap
  font-family Titillium, Verdana, sans-serif
  padding 5rem 10rem
  width 100%
  border-top 1rem solid black

  .logo
    img
      width 50rem

  main
    article

      // first UL is the main menu
      & > ul:first-of-type
        flow row left
        border-bottom 1px solid silver
        padding-bottom 4rem
        margin-top 4rem
        margin-bottom 4rem

        // menu items
        & > li

          // first menu item is the GitHub link
          &:first-child
            & > a:before
              display inline-block
              font-family Ionicons
              content: "\f233"

          margin 0 4rem 0 0
          font-family Titillium, Verdana, sans-serif
          font-weight bold
          rhythm 3rem, 10%

          & > a
            color darken(#0e83cd, 25%)
            text-decoration none

            &:hover
              color lighten(#0e83cd, 25%)

      // “hero” text
      & > p:first-of-type
        rhythm 7rem 36.71%
        border-bottom 0.25rem solid silver
        padding-bottom 4rem

  // general body text
  article, section
    max-width 108rem
    min-width 40rem

    h1, h2, h3, h4, h5, p, li, pre
      margin-bottom 4rem

    p, li
      rhythm 5rem 36.71%
      font-family Charter, Georgia, serif
      color rgba(0,0,0,.8)
      letter-spacing -.003em
      text-rendering auto
      -webkit-font-smoothing antialiased
      -moz-osx-font-smoothing grayscale;

    // make sure there is add'l margin
    // after major headings
    *
      & + h1, & + h2, & + h3
        margin-top 6rem

    // standalone code (Prism takes care of the rest)
    code
      font-family 'Fira Mono', monospace
